<div *ngIf="user">

  <!-- End of Navbar -->

  <div class="container mx-auto my-5 p-5">
    <div class="md:flex no-wrap md:-mx-2 ">

      <div class="w-full mx-2 h-64">
        <!-- Profile tab -->
        <!-- About Section -->
        <div class="bg-white dark:bg-gray-900 p-3 shadow-sm rounded-sm mb-4">
          <div class="flex items-center space-x-2 font-semibold text-gray-900 dark:text-gray-200 leading-8">
            <span clas="text-green-500">
              <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
              </svg>
            </span>
            <span class="tracking-wide">About</span>
          </div>
          <div class="text-gray-700 dark:text-gray-300">
            <div class="grid md:grid-cols-2 text-sm">

              <div class="grid grid-cols-2">
                <div class="px-4 py-2 font-semibold">First Name</div>
                <div class="px-4 py-2 capitalize">{{ user.name }}</div>
              </div>

              <div class="grid grid-cols-2">
                <div class="px-4 py-2 font-semibold">Last Name</div>
                <div class="px-4 py-2 capitalize">{{ user.lastname }}</div>
              </div>
              <!--
              <div class="grid grid-cols-2">
                <div class="px-4 py-2 font-semibold">Current Address</div>
                <div class="px-4 py-2">Beech Creek, PA, Pennsylvania</div>
              </div> -->


              <div class="grid grid-cols-2">
                <div class="px-4 py-2 font-semibold">Email</div>
                <div class="px-4 py-2">
                  <a class="text-blue-800" href="mailto:{{ user.email }}">{{ user.email }}</a>
                </div>
              </div>

            </div>
          </div>

        </div>


        <!-- Experience and education -->
        <div class="bg-white dark:bg-gray-900 p-3 shadow-sm rounded-sm">

          <div class="grid grid-cols-2">
            <div>
              <div class="flex items-center space-x-2 font-semibold text-gray-900 dark:text-gray-200 leading-8 mb-3">
                <span clas="text-green-500">
                  <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                  </svg>
                </span>
                <span class="tracking-wide">Orders</span>
              </div>
              <ul class="list-inside space-y-2">
                <li *ngFor="let item of user.orders">
                  <div class="text-blue-400">
                    <a routerLink="/dashboard/orders/{{item._id}}">
                      Order id: {{ item._id }}
                    </a>
                  </div>
                  <div class="text-gray-500 text-xs">Total: ${{ item.cart.total | number }}</div>
                </li>

              </ul>
            </div>

          </div>
          <!-- End of Experience and education grid -->
        </div>
        <!-- End of profile tab -->
      </div>
    </div>
  </div>

</div>