<!-- <app-breadcrumb /> -->


<form [formGroup]="product" (ngSubmit)="handleOnSubmit(product)">

  <div class="mb-6">
    <label for="inputProductName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product
      name</label>
    <input type="text" id="inputProductName" formControlName="title"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="Name..." required>
  </div>

  <div class="mb-6">
    <label for="inputProductCategory"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Category</label>
    <input type="text" id="inputProductCategory" formControlName="category"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      required>
  </div>

  <div class="mb-6 ">
    <label class="relative inline-flex items-center cursor-pointer">
      <input type="checkbox" class="sr-only peer" formControlName="is_on_sale">
      <div
        class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
      </div>
      <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Product on sale?</span>
    </label>
  </div>

  <div class="mb-6">
    <label for="inputProductPrice" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Price</label>
    <input type="number" id="inputProductPrice" formControlName="price"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      required>
  </div>

  <div class="mb-6 ">
    <label class="relative inline-flex items-center cursor-pointer">
      <input type="checkbox" class="sr-only peer" formControlName="in_stock">
      <div
        class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
      </div>
      <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Stock is available</span>
    </label>
  </div>

  <!-- if stock is not available, disable this -->
  <div class="mb-6 ">
    <label for="inputProductStock" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Stock</label>
    <input type="number" id="inputProductStock" formControlName="stock"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      required>
  </div>

  <div class="mb-6">
    <label for="inputProductDescription"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
    <textarea type="text" id="inputProductDescription" formControlName="description"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="Description..." required></textarea>
  </div>



  <div class="flex gap-5">
    <button type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Save
      and exit</button>

    <button type="button" (click)="handleOnSubmit(product, false)"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-blue-800">Save
      and continue</button>

  </div>

</form>