<div class="relative overflow-x-auto shadow-md sm:rounded-lg">

  <div class="pb-5">
    <!-- add breadcrumb -->
    <h3 class="font-semibold text-3xl text-gray-700 dark:text-gray-200 uppercase ">Product List</h3>
  </div>

  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="p-4">
          <div class="flex items-center">
            <input id="checkbox-all-search" type="checkbox"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="checkbox-all-search" class="sr-only">checkbox</label>
          </div>
        </th>
        <th scope="col" class="px-6 py-3">
          Product name
        </th>

        <th scope="col" class="px-6 py-3">
          Category
        </th>
        <th scope="col" class="px-6 py-3">
          Available
        </th>
        <th scope="col" class="px-6 py-3">
          Price
        </th>
        <th scope="col" class="px-6 py-3">
          Action
        </th>
      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let item of productList "
        class="bg-white w-full border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
        <td class="w-4 p-4">
          <div class="flex items-center">
            <input id="checkbox-table-search-1" type="checkbox"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
          </div>
        </td>

        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          {{item?.title ?? ''}}
        </th>

        <td class="px-6 py-4">
          {{item.category}}
        </td>
        <td class="px-6 py-4">
          {{item.in_stock ? 'In stock' : 'Out of stock' }}
        </td>

        <td class="px-6 py-4">
          S/ {{item.price | number}}
        </td>

        <td class="flex items-center px-6 py-4 space-x-3">
          <!-- TODO redirect to edit page -->
          <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
          <!-- TODO show sweatAlert to confirm action -->
          <button (click)="handleDeleteProduct(item._id)" type="button" class="font-medium text-red-600 dark:text-red-500 hover:underline">
            Remove
          </button>
        </td>
      </tr>



    </tbody>

  </table>

</div>


<!-- TODO add tooltip on hover -->
<!-- TODO add routerLink -->
<div class="fixed z-20 bottom-5 right-5 ">
  <div class="bg-blue-500 p-5 rounded-full" title="New product">
    <a routerLink="/dashboard/products/new">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-white">
        <path d="M19 11h-6V5h-2v6H5v2h6v6h2v-6h6z"></path>
      </svg>
    </a>
  </div>
</div>