<section class="flex items-center h-full p-16  text-gray-100">
  <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
    <div class="max-w-md text-center">
      <h2 class="mb-8 font-extrabold text-6xl text-gray-200"><span class="sr-only">Error</span> Authentication is
        requiered </h2>
      <p class="text-2xl font-semibold md:text-3xl">Sorry, you can't continue if you are not logged.</p>
      <p class="mt-4 mb-8 text-gray-400"> But dont worry, you can create an account or log it in. </p>

      <div class="flex gap-5 w-full justify-center" >
        <a rel="noopener noreferrer" href="/auth/register" class="px-8 py-3 font-semibold rounded bg-blue-400 text-gray-900"> Go register </a>
        <a rel="noopener noreferrer" href="/auth/login" class="px-8 py-3 font-semibold rounded bg-gray-400 text-gray-900"> Let me in </a>
      </div>

    </div>
  </div>
</section>